@model Successful
@{
}

<h1>Successful</h1>

<div class="alert alert-success" role="alert">
	@Model.Message
</div>
<a href="/Home" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Home</a>